{% extends "basic.html" %}
{% block body %}


<div class="container">




</div>
<div class="row justify-content-center mt-2 mb-2">
    <div class="card text-white col-md-3 col-offset-2 bg-info my-3 ">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
            <form action="/update_pass" method="POST">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                    <label for="Email" class="form-label"> Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <label for="Password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="pass1" name="pass1">
                    <label for="confirm_password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="pass2" name="pass2">
                </div>
                <button type="submit" class="btn btn-primary my-2 mb-2">Save</button>
                <p>Don't have an account<button type="button" class="btn  " data-bs-toggle="modal"
                        data-bs-dismiss="modal" data-bs-target="#SignupModal" style="color: blue;">
                        Create account
                    </button> </p>
            </form>
        </div>
    </div>
</div>
{% endblock body %}